<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="cee5d33a-bcac-4168-ba5a-9034aac21ae7" name="General Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings id="bc6c1165-9bfe-4294-9eca-1da1767ed066"><con:setting id="cee5d33a-bcac-4168-ba5a-9034aac21ae7fileName">General-Test-Suite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="8588ba64-67c2-4b39-bb07-1749830dec10"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>