<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="10ff4d2e-0fbf-425c-8a34-80292619251a" name="Load Specific Tests" xmlns:con="http://eviware.com/soapui/config"><con:settings id="8fa3e33b-be4c-4aa7-bb6b-a76d064a3b8b"><con:setting id="10ff4d2e-0fbf-425c-8a34-80292619251afileName">Load-Specific-Tests</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="8588ba64-67c2-4b39-bb07-1749830dec10"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>