<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c58e1f5b-e13b-4841-9681-419cd0e41fb8" name="Data-Driven Tests" xmlns:con="http://eviware.com/soapui/config"><con:settings id="2cb93191-9821-4452-aa69-03da96853eca"><con:setting id="c58e1f5b-e13b-4841-9681-419cd0e41fb8fileName">Data-Driven-Tests</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="29180c88-ad41-464f-8429-b2638f25a9cf"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="2cd8fc6f-9b26-41dd-a372-0ad1907581a8"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8588ba64-67c2-4b39-bb07-1749830dec10"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>