<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="b9e849ab-c688-416c-bc6a-45cbcead3b21" port="8091" path="/" host="localhost" name="OpenWeather Service Stub" routeModeEnabled="true" routeEndpoint="http://api.openweathermap.org" xmlns:con="http://eviware.com/soapui/config"><con:settings id="25a408f3-5bbd-4502-8584-b61911b444f4"><con:setting id="b9e849ab-c688-416c-bc6a-45cbcead3b21fileName">OpenWeather-Service-Stub</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:headerValidator type="NONE"/></con:restMockService>