<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="57c13e45-542f-4379-aacb-7b6abd1a0213" name="Unit Tests" xmlns:con="http://eviware.com/soapui/config"><con:settings id="09295380-318d-49e5-bd8c-d16268ecfb91"><con:setting id="57c13e45-542f-4379-aacb-7b6abd1a0213fileName">Unit-Tests</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:environmentSpec><con:entry environmentId="29180c88-ad41-464f-8429-b2638f25a9cf"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="2cd8fc6f-9b26-41dd-a372-0ad1907581a8"><con:authProfile>Inherit From Parent</con:authProfile></con:entry><con:entry environmentId="8588ba64-67c2-4b39-bb07-1749830dec10"><con:authProfile>Inherit From Parent</con:authProfile></con:entry></con:environmentSpec></con:testSuite>